.contacts {
	height: 100%;
	display: flex;
	align-items: center;

	font-family: "Cera Round Pro";

	&__content {
		width: 100%;
		margin-left: 45px;

		&__title {
			h3 {
				font-style: normal;
				font-weight: 900;
				font-size: 72px;
				// line-height: 72px;
			}
		}

		&__bottom {
			display: flex;
			flex-direction: row;

			&__buttons {
				margin-right: 233px;

				&_to {


					&_catalog {
						margin-bottom: 40px;

						div {
							cursor: pointer;
							width: 185px;
							height: 60px;
							background: #ffffff;
							box-shadow: 0px 16px 24px #027FD0, 0px 2px 6px rgba(2, 127, 208, 0.12), 0px 0px 1px rgba(47, 47, 47, 0.04);
							border-radius: 15px;
							display: flex;
							align-items: center;
							justify-content: center;


							span {
								font-weight: bold;
								font-size: 18px;
								color: rgb(0, 0, 0);
							}

							div {
								background: linear-gradient(135deg, #F2F2F2 0%, #FFFFFF 100%);
								/* 5 */

								box-shadow: -5px 5px 10px rgba(224, 224, 224, 0.2), 5px -5px 10px rgba(224, 224, 224, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(224, 224, 224, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(224, 224, 224, 0.5);
								border-radius: 15px;
								width: 30px;
								height: 30px;
								display: flex;
								align-content: center;
								justify-content: center;
								margin: 0 0 0 15px;

								svg {}
							}
						}

					}

					&_map {
						div {
							cursor: pointer;
							width: 185px;
							height: 60px;
							background: #FFC700;
							box-shadow: 0px 16px 24px rgba(239, 45, 59, 0.2), 0px 2px 6px rgba(239, 45, 59, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
							border-radius: 15px;
							display: flex;
							align-items: center;
							justify-content: center;


							span {
								font-weight: bold;
								font-size: 18px;
								color: rgb(0, 0, 0);
							}

							div {
								background: linear-gradient(135deg, #F2BD00 0%, #FFD100 100%);
								box-shadow: -5px 5px 10px rgba(224, 179, 0, 0.2), 5px -5px 10px rgba(224, 179, 0, 0.2), -5px -5px 10px rgba(255, 219, 0, 0.9), 5px 5px 13px rgba(224, 179, 0, 0.9), inset 1px 1px 2px rgba(255, 219, 0, 0.3), inset -1px -1px 2px rgba(224, 179, 0, 0.5);
								border-radius: 15px;
								width: 30px;
								height: 30px;
								display: flex;
								align-content: center;
								justify-content: center;
								margin: 0 0 0 15px;

								svg {}
							}
						}
					}
				}
			}

			&__contacts {

				&__item {
					font-weight: 500;
					font-size: 18px;
					display: flex;
					margin-bottom: 50px;

					div {
						display: flex;
						align-content: center;
						align-items: center;
						justify-content: center;
						width: 30px;
						height: 30px;

						position: relative;
						// top: 20px;

						background: linear-gradient(135deg, #0085DB 0%, #0093F3 100%);
						box-shadow: -5px 5px 10px rgba(0, 126, 208, 0.2), 5px -5px 10px rgba(0, 126, 208, 0.2), -5px -5px 10px rgba(0, 154, 254, 0.9), 5px 5px 13px rgba(0, 126, 208, 0.9), inset 1px 1px 2px rgba(0, 154, 254, 0.3), inset -1px -1px 2px rgba(0, 126, 208, 0.5);
						border-radius: 10px;
					}

					p {
						// margin-left: 20px;
						margin: 0 0 0 20px;
					}

					&:first-child {
						font-weight: 500;
						font-size: 24px;
						line-height: 25px;

						div {}

						p {}
					}
				}

				&__policy {
					// border-bottom: 1px solid #56BDFF;
					display: inline-block;
					position: relative;
					&::after {
						content: "";
						width: 100%;
						height: 2px;
						border-radius: 55px;
						background: #56BDFF;
						position: absolute;
						z-index: 1000;
					}

					&--active {
						&::after {
							animation: linear lineToLeft 1s;
						}
					}

					p {
						// width: fit-content;
						margin-right: 0;
						margin-bottom: 10px;
						width: fit-content;
						font-weight: 500;
						font-size: 15px;
						// line-height: 15px;
						color: #D2EEFF;
					}
				}
			}
		}
	}
}


@keyframes lineToLeft {
	// 0% {
	// 	width: 0;
	// }

	10% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}