@import "./Order/Cart/Cart.scss";
@import "./Order/Delivery/Delivery.scss";
@import "./Order/Payment/Payment.scss";
@import "./Order/Order.scss";
@import "./Order/Payment/Raif/Raif.scss";

@import "./StartPage/StartPageComposition/StartPageComposition.scss";
@import "./StartPage/StartPageHeader/StartPageHeader.scss";
@import "./StartPage/StartPage.scss";

@import "./Catalog/ProductSlider/ProductSlider.scss";
@import "./Catalog/ProductList/ProductList.scss";

@import "./BluePage/Elements/Composition/Composition.scss";
@import "./BluePage/Elements/Contacts/Contacts.scss";
@import "./BluePage/Elements/Delivery/Delivery.scss";
@import "./BluePage/Elements/Partners/Partners.scss";
@import "./BluePage/Elements/Price/Price.scss";
@import "./BluePage/Elements/Tastes/Tastes.scss";
@import "./BluePage/Elements/Usage/Usage.scss";
@import "./BluePage/Elements/Elements.scss";
@import "./BluePage/BluePage.scss";

@import "./Policy/Policy.scss";
@import "./Errors/NotFound.scss";

@import "./PopupLayout.scss";

@import "./../assets/fonts/CeraRoundPro/stylesheet.css";
@import "./common.scss";

body {
	margin: 0;
	overflow-x: hidden !important;
}

button {
	background-color: transparent;
	outline: none;
	border: none;
}

.app {
	&__container {
		// width: 95%;
		// margin: 0 auto;
		transition: all 1s;
	}

	a {
		text-decoration: none;
	}

	.blue {
		background: #F0F9FF;
		opacity: 0;
		width: 100%;
		padding-left: 2.5%;
	}

	.white {
		width: 95%;
		margin: 0 auto;
	}
}

.container {
	width: 95%;
	margin: 0 auto;
}


.logoHolder {
	margin-top: 10px;
	display: flex;
	// flex-direction: column;
	justify-content: space-evenly;
	.pay_logo {
		width: auto;
		max-height: 30px;
	}
}