.price {
	font-family: 'Cera Round Pro';
	display: flex;
	justify-content: space-between;
	height: 100%;
	// width: 100%;
	align-items: center;
	
	&__left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&__title {
			h3 {
				font-weight: 900;
				font-size: 72px;
				margin-bottom: 0;
				margin-top: 0;
			}
		}

		&__text {
			max-width: 454px;

			p {
				font-weight: 500;
				font-size: 18px;
				line-height: 25px;
				margin: 20px 0 0 0;
				// height: 75px;

				span {
					font-weight: bold;
				}
			}
		}

		&__button {
			margin-top: 100px;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		// transform: translateX(-15%);
		flex: 0 0 35%;
		img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}