.tastes {
	height: 100%;
	font-family: 'Cera Round Pro';
	display: flex;
	align-items: center;

	&__wrapper {
		display: flex;
		// justify-content: space-between;
		height: fit-content;
		width: 100%;
	}

	&__text {
		margin-right: 56px;    ////
		&__title {
			h3 {
				width: min-content;
				// margin-top: 0;
				font-weight: 900;
				font-size: 72px;
				line-height: 72px;
			}
		}

		&__description {
			p {
				font-weight: 500;
				font-size: 18px;
				line-height: 25px;

				width: 454px;

				span {
					font-weight: bold;
				}
			}
		}
	}

	&__slider {
		// max-width: 555px; ////
		// height: max-content;
		display: flex;
		height: fit-content;
		// flex-basis: 40%;    ////
		justify-content: space-around;
		align-items: center;

		&__button {
			background: linear-gradient(135deg, #0085DB 0%, #0093F3 100%);
			box-shadow: -5px 5px 10px rgba(0, 126, 208, 0.2), 5px -5px 10px rgba(0, 126, 208, 0.2), -5px -5px 10px rgba(0, 154, 254, 0.9), 5px 5px 13px rgba(0, 126, 208, 0.9), inset 1px 1px 2px rgba(0, 154, 254, 0.3), inset -1px -1px 2px rgba(0, 126, 208, 0.5);
			border-radius: 15px;
			cursor: pointer;
			
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;

			&:hover {
				svg {

					path {

						fill: white;
					}
				}
			}

			&:first-child {
				margin-right: 32px; ////
			}

			&:last-child {
				margin-left: 32px; ////
			}
		}

		&__content {
			display: flex;
			// gap: 80px;
			width: 851px; ////
			overflow: hidden;
			justify-content: space-between;
			// justify-content: ;
		}

		&__slide {
			// width: 200px;   //// 
			// flex: 1/3;
			// display: flex;
			// flex-basis: 33%;
			// width: fit-content;
			position: relative;
			margin: 0 40px;
			&:first-child{
				margin-left: 0;
			}

			&__title {
				display: flex;
				// align-content: center;
				justify-content: center;

				h4 {
					width: max-content;
					font-weight: 900;
					font-size: 36px;
					text-align: center;
					margin-top: 36px;
					margin-bottom: 30px;
				}
			}

			&__counter {
				display: flex;
				justify-content: center;

				&__plate {
					background: #ffffff;
					box-shadow: 0px 16px 24px #027FD0, 0px 2px 6px rgba(2, 127, 208, 0.12), 0px 0px 1px rgba(47, 47, 47, 0.04);
					border-radius: 15px;

					width: 158px;
					height: 60px; ////

					display: flex;
					// align-content: center;
					align-items: center;
					justify-content: space-evenly;


					&__button {
						display: flex;
						align-items: center;
						justify-content: center;
						background: linear-gradient(135deg, #F2F2F2 0%, #FFFFFF 100%);
						cursor: pointer;
						box-shadow: -5px 5px 10px rgba(224, 224, 224, 0.2), 5px -5px 10px rgba(224, 224, 224, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(224, 224, 224, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(224, 224, 224, 0.5);
						border-radius: 15px;
						width: 40px;
						height: 40px;
						
						svg {}
					}

					&__quantity {
						font-size: 18px;
						line-height: 18px;

						font-weight: bold;
						color: #2F2F2F;
					}
				}
			}

			&__price {
				margin-top: 40px;
				display: flex;
				justify-content: center;
				font-weight: bold;
				font-size: 36px;
				line-height: 36px;
				/* identical to box height */
				color: #FFFFFF;

				span {
					color: #56bdff;
				}
			}

			&__description {
				width: min-content;
				text-align: center;
				margin: 15px auto 0 auto; ////

				font-weight: 500;
				font-size: 18px;
				line-height: 20px;
				/* or 111% */

				text-align: center;
			}

			&__properties {
				display: flex;
				justify-content: center;
				flex-direction: column;

				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				/* identical to box height, or 125% */

				text-align: center;

				p {
					margin: 0;
					margin-top: 10px;
				}
			}

			&__top {}

			&__rating {
				// align-self: center;
				// justify-self: center;
				// padding-top: 50%; tastes__slider__slide__rating
				// margin-right: 200px;
				// background-color: #s;
				position: relative;
				top: 90px;
				// right: 5px;
				// z-index: 1000;
				display: flex;
				justify-content: center;
				// align-content: center;
				align-items: center;
				gap: 5px;

				width: 84px;
				height: 35px;
				background: #FFFFFF;
				box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
				border-radius: 10px;
				color: #000;

				font-weight: bold;
				font-size: 16px;
				line-height: 16px;

				img {
					// margin-left: 5;
				}
			}

			&__content {
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				overflow: visible;

				&__product {
					position: absolute;
					width: 49px;
					// z-index: 100;

					height: 194px;

					&__shadow {
						// display: none;
						width: 49px;
						height: 194px;
						margin-left: 20px;
						margin-top: 20px;
						position: absolute;
					}
				}

				img {

					// position: absolute;
				}
			}

			&__button {
				margin-top: 40px;
				// margin: 10px 40px;    ////
				margin: 40px 20px  0 20px;
				div {
					cursor: pointer;
					width: 185px;
					height: 60px;
					background: #FFC700;
					box-shadow: 0px 16px 24px rgba(239, 45, 59, 0.2), 0px 2px 6px rgba(239, 45, 59, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
					border-radius: 15px;
					display: flex;
					align-items: center;
					justify-content: center;
					// gap: 15px;

					span {
						font-family: 'Cera Round Pro';
						font-weight: bold;
						font-size: 18px;
						color: rgb(0, 0, 0);
					}

					div {
						background: linear-gradient(135deg, #F2BD00 0%, #FFD100 100%);
						box-shadow: -5px 5px 10px rgba(224, 179, 0, 0.2), 5px -5px 10px rgba(224, 179, 0, 0.2), -5px -5px 10px rgba(255, 219, 0, 0.9), 5px 5px 13px rgba(224, 179, 0, 0.9), inset 1px 1px 2px rgba(255, 219, 0, 0.3), inset -1px -1px 2px rgba(224, 179, 0, 0.5);
						border-radius: 15px;
						width: 30px;
						height: 30px;
						display: flex;
						align-content: center;
						justify-content: center;
						margin: 0 0 0 15px;

						svg {}
					}
				}
			}
		}

	}
}