.personal-data {
	width: 100%;
	// height: 88vh;
	background: #F0F9FF;
	border-radius: 15px 15px 0px 0px;
	min-height: 88vh;
	font-family: "Cera Round Pro";
	position: relative;

	.wrong-input {
		border: 2px solid red;
	}

	&__container {
		&__back-container {
			width: 95%;
			margin: 0 auto;
			margin-top: 50px;
			margin-bottom: 40px;
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		margin-top: 75px;
		margin-bottom: 60px;

		&__prew {
			margin-right: 30px;

			div {
				cursor: pointer;
				width: 185px;
				height: 60px;
				background: #FFFFFF;
				box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
				border-radius: 15px;
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				justify-content: center;

				span {
					font-weight: bold;
					font-size: 18px;
					color: rgb(0, 0, 0);
				}

				div {
					background: #FFFFFF;
					background: linear-gradient(135deg, #F2F2F2 0%, #FFFFFF 100%);
					/* 5 */

					box-shadow: -5px 5px 10px rgba(224, 224, 224, 0.2), 5px -5px 10px rgba(224, 224, 224, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(224, 224, 224, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(224, 224, 224, 0.5);
					border-radius: 15px;
					width: 40px;
					height: 40px;
					display: flex;
					align-content: center;
					align-items: center;
					justify-content: center;
					justify-content: center;
					margin-right: 15px;
				}
			}
		}
	}

	&__side {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-content: center;

		// align-items: center;
		&__logo {
			position: absolute;
			top: 40vh;
			font-size: 14px;
			line-height: 14px;
			color: #A7A7A7;
			transform: rotate(90deg);
		}

	}


	&__content {}

	&__footer {
		width: 95%;
		margin: 0 auto;

		&__wrapper {
			display: flex;
			justify-content: space-between;
			// padding-top: 20px;

			&__logo {
				display: flex;
				align-items: center;
				align-content: center;
				margin-bottom: 40px;

				img {
					width: 128px;
					height: auto;
				}
			}

			&__feedback {
				display: flex;
				margin-left: 75px;
				// margin-right: 5%;
				align-self: flex-end;
				padding-bottom: 45px;

				&__phone {
					font-style: normal;
					font-weight: bold;
					cursor: pointer;
					width: 151px;

					&::before {
						content: "";
						width: 30px;
						height: 2px;
						border-radius: 55px;
						margin-top: 10px;
						margin-left: -40px;
						background: #56BDFF;
						position: absolute;
					}

					&:hover,
					.active {
						&::before {
							background: #FFC700;
						}
					}
				}

				&__mail {
					font-weight: bold;
					cursor: pointer;
					margin-left: 75px;

					&::before {
						content: "";
						width: 30px;
						height: 2px;
						border-radius: 55px;
						margin-top: 10px;
						margin-left: -40px;
						background: #56BDFF;
						position: absolute;
					}

					&:hover,
					.active {
						&::before {
							background: #FFC700;
						}
					}
				}

				&__adress {
					font-weight: bold;
					cursor: pointer;
					margin-left: 75px;

					&::before {
						content: "";
						width: 30px;
						height: 2px;
						border-radius: 55px;
						margin-top: 10px;
						margin-left: -40px;
						background: #56BDFF;
						position: absolute;
					}

					&:hover,
					.active {
						&::before {
							background: #FFC700;

						}
					}
				}
			}
		}
	}

	.personal {
		background: #ffffff;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
		border-radius: 15px;
		margin: 0 17%;
		font-family: "Cera Round Pro";

		.link {
			text-decoration: none;
			color: #008CE6;
		}

		&__container {
			padding: 0 50px;
		}

		&__title {


			h3 {
				font-weight: 900;
				font-size: 48px;
				line-height: 48px;
				color: #2F2F2F;
				margin: 0;
				padding: 40px 0;
			}
		}

		&__subtitle {

			font-weight: 900;
			font-size: 24px;

			h4 {
				color: black;

				span {

					color: #008CE6;
				}
			}
		}

		&__section {

			font-weight: 500;
			font-size: 16px;
			line-height: 25px;
		}
	}
}